.contenedor{
    background-color: black;
    color: white;
}

.contenedor2{
    display: flex;
    
}

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.boton{
    background-color: white;
    color: black;
}

.logo-freya{
    object-fit: contain;
    height: 11rem;
    justify-content: center;
}

.lista{
    border-radius: 15rem;
    margin-top: 3rem;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:grey ;
    width: 80rem;
}

.carrito{
    display:flex ;
    align-items: center;
    margin-left: 3rem;
    
}

.secciones{
    height: 4rem;
    
    
}